extends layout

block content
  .container
    .main
      main
        .row
          h1 Scheduling Made Easy!
        .row
          .main-content
            .row
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .row
              .half-left
                a(href="/")
                  button(type="button") More Info
              .half-right
                a(href="/")
                  button(type="button") More Info
  .container
    .row
      .form-login
        .form
          .row
            .cancel-login
              button(type="button") X
          form(action="/", method="post")
            .row
              h2 Login
            .row
              .label
                label(for="username") Username
              .input
                input(type="email" name="username" id="username")
            .row
              .label
                label(for="password") Password
              .input 
                input(type="password" name="password" id="password")
            .row
              .label
              .input
                input(type="submit" value="Sign In")
        
        .row
