doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .container
        .title
          h2 Lyne Up
        nav
        .login
            a(href="/login") Login  
            a(href="/") Create Account
          
    block content
    footer
      .container
        .col-third
        .col-third
        .col-third
