doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="http://fonts.googleapis.com/css?family=Lato:400,100,700", rel="stylesheet", type="text/css")
  body
    .container
      .header
        header
          .row
            .title
              a(href="/")
                h1 Lyne Up
            .nav
              a(href="/") Text 
              a(href="/") Text 
              a(href="/") Text 
              a(href="/") Text 
              a(href="/") Text 
              a(href="/") Text 
              a(href="/") Text
            .account
              a(href="/login") Login
              a(href="/create-account") Create Account
          .row
          .row
    block content
    .container
      .footer
        footer
          .row
          .row
          .row
    
