doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="http://fonts.googleapis.com/css?family=Lato:400,100,700", rel="stylesheet", type="text/css")
  body
    .container
      .header
        header
          .row
            .title
              a(href="/")
                h1 Lyne Up
            .nav
              a(href="/") Home
              a(href="/") About Us
              a(href="/") Pricing
              a(href="/") League Features
              a(href="/") Upcoming Events
              a(href="/") Contact Us
            .account
              if user
                span Hello, &nbsp;#{name}
                a(href="/logout")
                  button.logout Logout
              else
                button.login Login / Create Account              
          .row
          .row
    block content
    .container
      .row
        .form-login
          .form-signin
            .row
              .cancel-login
                button(type="button") X
            form(action="/login", method="post")
              .row
                h2 Login
              .row
                .label
                  label(for="username") Username
                .input
                  input(type="email" name="username" id="username")
              .row
                .label
                  label(for="password") Password
                .input 
                  input(type="password" name="password" id="password")
              .row
                .label
                .input
                  input(type="submit" value="Sign In")
            .row
              .label
                .input
                  a(href="/create-account")
                    button(type="submit") Create Account
    .container
      .footer
        footer
          .row
          .row
          .row
  script(src="/javascripts/app.js")
